<% if @player == [] %>
<p>We can`t show you any players!!!</p>
<%else %>
<% @players.each do |player| %>
<p>Player: <b> <%=player.nickname  %></br>Info</br>
<%= player.rank %></br>
<%= player.charisma %></br>
<%= player.wisdom %><br>

<%= link_to "Read more", player_path(player.id) %>

<% end %>
<% end %>
<%= link_to "Create", new_player_path %>

