<%= form_for @player, url: players_path do |f| %>
NickName:
<%= f.text_field :nickname %><br/>
Rank:
<%= f.text_field :rank %><br/>
Charisma:
<%= f.text_field :charisma %><br>
Wisdom:
<%= f.text_field :wisdom %><br>
<%= f.submit "Create" %>
<% end %>
