Player: <%= @player.nickname %><br />
Rank :<%= @player.rank%><br />
Charisma: <%= @player.charisma%><br />
Wisdom: <%= @player.wisdom%><br />
</p>
<p>
<%= link_to "Edit", edit_player_path(@player.id) %><br />
<%= link_to "Destroy", player_path(@player.id), method: :delete %><br />


